@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  height: auto;
  overflow: hidden;
  max-width: 22rem;
  border-radius: 1rem;
  margin: 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0px 0px 20px 1px rgb(204 204 204 / 50%);
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 20px 0px rgb(204 204 204 / 50%);
}

.card .header {
  z-index: 2;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ff0;
  border-radius: 0rem 0rem 4rem 0rem;
}

.card .header::before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0rem 0rem 4rem 0rem;
}

.card .header img {
  width: 85%;
}

.card .footer {
  z-index: 2;
  text-align: center;
  position: relative;
  padding: 20px 20px 20px 20px;
}

.card .footer::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 3rem 0rem 0rem 0rem;
}

.card .footer .title {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.card .footer p {
  font-size: 0.8rem;
}

.productContainer .card:nth-child(2) .header img {
  width: 120%;
}

.productContainer .card:nth-child(3) .header img {
  width: 120%;
}

.productContainer .card:nth-child(1) .header::before {
  background-image: linear-gradient(to bottom, #2f354d, #23252c);
}

.productContainer .card:nth-child(1) .footer {
  background: #23252c;
}

.productContainer .card:nth-child(2) .header::before {
  background-image: linear-gradient(to bottom, #01408f, #011842);
}

.productContainer .card:nth-child(2) .footer {
  background: #011842;
}

.productContainer .card:nth-child(3) .header::before {
  background-image: linear-gradient(to bottom, #e93632, #501823);
}

.productContainer .card:nth-child(3) .footer {
  background: #501823;
}

.buyNow {
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 5rem;
  padding: 0.6rem 2rem;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.productContainer .card:nth-child(1) .buyNow {
  color: #2f354d;
  border: 2px solid #2f354d;
}

.productContainer .card:nth-child(1) .buyNow:hover {
  color: #fff;
  background-color: #2f354d;
}

.productContainer .card:nth-child(2) .buyNow {
  color: #01408f;
  border: 2px solid #01408f;
}

.productContainer .card:nth-child(2) .buyNow:hover {
  color: #fff;
  background-color: #01408f;
}

.productContainer .card:nth-child(3) .buyNow {
  color: #e93632;
  border: 2px solid #e93632;
}

.productContainer .card:nth-child(3) .buyNow:hover {
  color: #fff;
  background-color: #e93632;
}

@media (max-width: 1248px) {
  .productContainer {
    margin-top: 29rem;
  }
}

@media (max-width: 832px) {
  .productContainer:nth-child(1) {
    margin-top: 92rem;
  }
}
